{
  "stage": 0,
  "plugins": ["rewire"],
  "optional": [
    "runtime",
    "validation.react"
  ],
  "loose": [
    "es6.destructuring",
    "es6.forOf",
    "es6.properties.computed",
    "es6.spread",
    "es6.templateLiterals"
  ]
}
